#tomatoClock {
  text-align: center;
  min-height: 300px;
}
#tomatoClock .tips {
  position: absolute;
  top: 140px;
  left: 0px;
  right: 0px;
  margin: auto;
  color: #666;
}
#tomatoClock .el-button {
  margin-top: 10px;
}
